.slider {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.slider-nav {
    position: absolute;
    top: 0;
    right: 30px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 2;
}
.slider-nav span {
    position: relative;
    width: 12px;
    height: 12px;
    margin: 7.5px 0.2rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.slider-nav span:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}
.slider-nav span.active:before,
.slider-nav span:hover:before {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
.slider ul.items {
    height: 100%;
    position: relative;
    padding: 0;
}
.slider ul.items li.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
}
.slider ul.items li.item:nth-child(1) {
    background-image: url('../img/slider/slide01.jpg');
}
.slider ul.items li.item:nth-child(2) {
    background-image: url('../img/slider/slide02.jpg');
}
.slider ul.items li.item:nth-child(3) {
    background-image: url('../img/slider/slide03.jpg');
}
.slider ul.items li.item.active {
    opacity: 1;
    z-index: 1;
}
.slider ul.items li.item .slider-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slider ul.items li.item .slider-text h3 {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 420px;
    font-size: 53px;
    line-height: 0.94;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-transform: translate(0,-1000px);
    transform: translate(0,-1000px);
}
.slider ul.items li.item.active h3 {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: transform 1.3s;
    transition: transform 1.3s;
}
.slider ul.items li.item .slider-text p {
    position: absolute;
    top: 230px;
    left: 80px;
    width: 260px;
    line-height: 1.39;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-transform: translate(1260px,0);
    transform: translate(1260px,0);
}
.slider ul.items li.item.active .slider-text p {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: transform 1.3s;
    transition: transform 1.3s;
}
.slider ul.items li.item .slider-text a {
    position: absolute;
    bottom: 80px;
    left: 80px;
    width: 500px;
    height: 40px;
    line-height: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #3399ff;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transform: translate(0,1000px);
    transform: translate(0,1000px);
}
.slider ul.items li.item.active .slider-text a {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: transform 1.3s;
    transition: transform 1.3s;
}